  #body{
    background-color: #acc797;
    font-family: serif;
  }

  #nav{
    font-family: serif;
  }

  #nb{
    font-size: 20px;
    margin-left: 20px;
  }

  #btn1{
    color: white;
    padding-right: 10px;
    padding-left: 10px;
    font-size: 20px;
    border:none;
    background-color: lightgrey;
    margin-right: 20px;
  }

  #btn1:active {
  background-color: green;
  }

  #btn2:active {
  background-color: red;
  }
   
  #btn2{
    color: white;
    padding-right: 10px;
    padding-left: 10px;
    font-size: 20px;
    border:none;
    background-color: lightgrey;
    margin-right: 20px;
  }

  #cf{
    padding-top: 50px;
  }

  #p{
  font-family: sans-serif;
   }

  #row{
    margin-right: 20px ;
    margin-left: 20px;
  }

  #h3{
   font-family: sans-serif;
  }

  #un{
    font-family: sans-serif;
    margin-top: 15px;
    font-size: 15px;
    color: green;
  }

  #updates{
    padding: 10px;
    font-size: 15px;
    border:0.5px solid lightgrey;
    font-family: serif;
    color: gray;
    font-weight: lighter;
  }

  #form{
   float: left;
   padding-bottom: 20px;
  }

  #textarea{
    padding:10px;
    
  }
  #btn3{
    color: white;
    padding:0px 15px 0px 15px; 
    font-size: 18px;
    border:none;
    background-color: lightgreen;
    float: right;
  }
